Package: sixarm-debian-math-packages
Version: 1.0.2
Section: devel
Priority: optional
Architecture: all
Depends: build-essential, gnuplot, gnuplot-doc, gnuplot-mode, gsl-bin, gsl-ref-html, libgnuplot-ruby, libgsl-ruby, libgsl-ruby-doc, libgsl0-dev, libgsl0ldbl, libplot-dev, plotutils, r-base, r-base-core, r-base-html, r-cran-boot, r-cran-class, r-cran-cluster, r-cran-codetools, r-cran-foreign, r-cran-kernsmooth, r-cran-lattice, r-cran-mass, r-cran-matrix, r-cran-mgcv, r-cran-msm, r-cran-nlme, r-cran-nnet, r-cran-rcmdr, r-cran-rodbc, r-cran-rodbc, r-cran-robustbase, r-cran-rpart, r-cran-spatial, r-cran-survival, littler, python-rpy, python-rpy-doc, ess
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: Math packages we like to use
 Math packages we like to use together.

